In [2]:
import numpy as np
import pandas as pd

Bill Cycles: 

dates, kWh, cost, weather averages 
1. Oct 5 - Nov 5   359 kWh  $54.76     60/88/46
2. Nov 6 - Dec 5  1024 kWh  $181.17    48/63/36
3. Dec 6 - Jan 6   972 kWh  $167.49    45/55/32
4. Jan 7 - Feb 5   586 kWh  $87.62     50/61/37

In [25]:
filename = 'data/pge_electric_interval_data__2018-10-04_to_2019-02-11.csv'

pge = pd.read_csv(filename, skiprows=5)

In [19]:
filename = 'data/weatherdata.csv'

In [20]:
weather = pd.read_csv(filename)

In [24]:
pwd

'/Users/kimzoldak/Python/PGEbills'

In [26]:
pge.head()

             TYPE        DATE START TIME END TIME  USAGE UNITS   COST  NOTES
0  Electric usage  2018-10-04      00:00    00:59   0.24   kWh  $0.05    NaN
1  Electric usage  2018-10-04      01:00    01:59   0.17   kWh  $0.04    NaN
2  Electric usage  2018-10-04      02:00    02:59   0.17   kWh  $0.04    NaN
3  Electric usage  2018-10-04      03:00    03:59   0.16   kWh  $0.04    NaN
4  Electric usage  2018-10-04      04:00    04:59   0.16   kWh  $0.03    NaN

In [23]:
weather.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,US1CACC0006,"LAFAYETTE 0.7 E, CA US",37.8937,-122.1043,75.6,2018-11-22,1.05,",,N",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US1CACC0006,"LAFAYETTE 0.7 E, CA US",37.8937,-122.1043,75.6,2018-11-23,0.70,",,N",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US1CACC0006,"LAFAYETTE 0.7 E, CA US",37.8937,-122.1043,75.6,2018-11-24,0.73,",,N",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US1CACC0006,"LAFAYETTE 0.7 E, CA US",37.8937,-122.1043,75.6,2018-11-28,0.16,",,N",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US1CACC0006,"LAFAYETTE 0.7 E, CA US",37.8937,-122.1043,75.6,2018-11-29,1.72,",,N",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
data.pivot_table?

data.pivot_table(values=None, index=None, columns=None, aggfunc='mean', 
                 fill_value=None, margins=False, dropna=True, margins_name='All')

In [ ]:
data.pivot_table(values='USAGE', index

stocks.groupby('Symbol').Close.mean()

In [14]:
mean_usage_per_day = pge.groupby('DATE').USAGE.mean()
mean_usage_per_day

DATE
2018-10-04    0.555000
2018-10-05    0.327500
2018-10-06    0.438333
2018-10-07    0.425000
2018-10-08    0.459583
2018-10-09    0.463750
2018-10-10    0.412917
2018-10-11    0.385833
2018-10-12    0.377917
2018-10-13    0.352500
2018-10-14    0.471250
2018-10-15    0.316667
2018-10-16    0.543333
2018-10-17    0.434167
2018-10-18    0.431667
2018-10-19    0.564167
2018-10-20    0.355000
2018-10-21    0.760417
2018-10-22    0.490000
2018-10-23    0.566250
2018-10-24    0.737917
2018-10-25    0.549167
2018-10-26    0.319167
2018-10-27    0.478750
2018-10-28    0.419167
2018-10-29    0.531250
2018-10-30    0.385417
2018-10-31    0.823750
2018-11-01    0.453333
2018-11-02    0.415000
                ...
2019-01-13    0.828750
2019-01-14    0.849167
2019-01-15    0.934167
2019-01-16    1.018333
2019-01-17    0.595000
2019-01-18    0.557083
2019-01-19    0.658750
2019-01-20    0.689583
2019-01-21    0.834167
2019-01-22    0.898333
2019-01-23    1.025000
2019-01-24    1.140417
2019-01-25    0.792500
2019-01-26    0.595000
2019-01-27    0.739167
2019-01-28    0.826250
2019-01-29    0.647917
2019-01-30    0.553333
2019-01-31    0.566667
2019-02-01    0.702083
2019-02-02    0.581667
2019-02-03    0.824583
2019-02-04    1.143333
2019-02-05    1.595417
2019-02-06    1.680000
2019-02-07    1.675000
2019-02-08    1.417083
2019-02-09    1.440000
2019-02-10    0.000000
2019-02-11    0.000000
Name: USAGE, Length: 131, dtype: float64

In [15]:
mean_usage_per_day.hist()